<div class="row">
<ul>
  {{#each model as |article|}}
  {{article-tile article=article destroyArticle="destroyArticle"}}
  {{/each}}
</ul>

</div>
{{new-article saveArticle="saveArticle"}}
<br>
{{#link-to 'about'}}About{{/link-to}}
